<section class="flex flex-col gap-8 bg-slate-50 w-80 sm:w-96 h-96 rounded px-6 pt-10 pb-6 font-rubik">
  <div class="flex justify-center items-center gap-2">
    <img src="/assets/viper.finance-logo.png" class="w-11 opacity-80 rotate-12">
    <h1 class="text-sm font-medium text-zinc-900 uppercase">Viper.Finance</h1>
  </div>

  <form class="flex flex-col items-center box-border h-full" (ngSubmit)="signIn()">
    <div class=" flex w-full flex-col gap-4">
      <div class="flex">
        <div
          class="text-xl w-12 h-full flex items-center justify-center text-slate-50 bg-zinc-700 border border-zinc-700">
          <i class='bx bx-envelope'></i>
        </div>
        <input type="email"
          class="w-full font-medium tracking-widest text-xs text-center bg-slate-50 focus:bg-zinc-100 outline-none border-b transition duration-200 p-3 hover:bg-zinc-100 hover:border-zinc-300 focus:border-zinc-700 placeholder:font-light"
          placeholder="Email" [(ngModel)]="signInCredentials.email" [ngModelOptions]="{ standalone: true }">
      </div>
      <div class="flex justify-center items-center">
        <div
          class="text-lg w-12 h-full flex items-center justify-center text-slate-50 bg-zinc-700 border border-zinc-700">
          <i class='bx bx-lock-alt'></i>
        </div>
        <input type="password"
          class="w-full font-medium tracking-widest text-xs text-center bg-slate-50 focus:bg-zinc-100 outline-none border-b transition duration-200 p-3 hover:bg-zinc-100 hover:border-zinc-300 focus:border-zinc-700 placeholder:font-light"
          placeholder="Senha" [(ngModel)]="signInCredentials.password" [ngModelOptions]="{ standalone: true }">
      </div>
    </div>

    <div class="w-full mt-auto flex justify-between items-center" *ngIf="!loading">
      <div class="flex flex-col">
        <a class="hover:underline text-xs text-zinc-500 hover:text-amber-400"
          [routerLink]="['/authentication/signup']">Não
          estou cadastro</a>
        <a class="hover:underline text-xs text-zinc-500 cursor-not-allowed">Esqueci minha senha</a>
      </div>

      <button
        class="flex justify-center items-center w-32 transition ease-in-out duration-300 text-slate-50 p-3 rounded mt-auto uppercase font-medium text-xs bg-zinc-800 hover:bg-zinc-900 cursor-pointer disabled:cursor-not-allowed"
        [disabled]="!signInCredentials.email || !signInCredentials.password">
        Entrar
      </button>
    </div>
    <img src="/assets/viper.finance-loading.png" class="w-8 rotate animate-spin mt-auto" *ngIf="loading">
  </form>
</section>
